*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}
.wrapper{
    background: turquoise; /*have to be #fff*/
    width: 350px;/* 450*/
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5)

}
.wrapper form {
    padding: 25px 30px;
}
.wrapper header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.wrapper form{
    margin: 20px 0;
}
.wrapper section form .error-txt{
    color: #721c24;
    background: lightpink;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}
.wrapper .name-details .field{
display: flex;
flex-direction: column;
margin-bottom: 10px;
}
.wrapper .name-details .fieldinput{
height: 40px;
width: 100%;
font-size: 16px;
padding: 0 10px;
border: 1px solid #ccc ;
border-radius: 5px;
}
